.card-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 6px solid;
    border-style: double;
    border-radius: 20px;
    border-color: red;
    padding: 25px;
}

.card-container:hover {
    border: 10px solid;
    border-style: solid;
    border-radius: 20px;
    border-color: greenyellow;
}
.txt{
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize ;
}

.image{
    height: 100%;
    width:100%;
}